In [31]:
import pandas as pd 
from consum_api import consumption_api_bcentral

In [32]:
link = 'https://olinda.bcb.gov.br/olinda/servico/mecir_dinheiro_em_circulacao/versao/v1/odata/informacoes_diarias?$top=100000&$orderby=Data%20desc&$format=json'
data  =  consumption_api_bcentral(link)

In [33]:
data['Data'] = pd.to_datetime(data['Data'],format='%Y-%m-%d')
data['Quantidade']=pd.to_numeric(data['Quantidade'], errors='coerce')
data['Valor']=pd.to_numeric(data['Valor'], errors='coerce')
data['Denominacao']=pd.to_numeric(data['Denominacao'], errors='coerce')
display(data)

            Data  Quantidade         Valor  Denominacao  Especie
0     2022-10-13  3191087458  3.191087e+07         0.01   Moedas
1     2022-10-13  7492527094  3.746264e+08         0.05   Moedas
2     2022-10-13  7713256904  7.713257e+08         0.10   Moedas
3     2022-10-13  3406259986  8.515650e+08         0.25   Moedas
4     2022-10-13  3455096100  1.727548e+09         0.50   Moedas
...          ...         ...           ...          ...      ...
88270 1994-10-03   181609358  1.816094e+08         1.00   Moedas
88271 1994-10-03   252922174  1.264611e+09         5.00  Cédulas
88272 1994-10-03   273630983  2.736310e+09        10.00  Cédulas
88273 1994-10-03    28945486  1.447274e+09        50.00  Cédulas
88274 1994-10-03     2841789  2.841789e+08       100.00  Cédulas

[88275 rows x 5 columns]

In [54]:
data_moedas = data[data['Especie']=='Moedas'].reindex()
data_cedula = data[data['Especie']=='Cédulas'].reindex()
gkk = data.groupby(['Denominacao', 'Especie'])
gkk.first()

                          Data  Quantidade         Valor
Denominacao Especie
0.01        Moedas  2022-10-13  3191087458  3.191087e+07
0.05        Moedas  2022-10-13  7492527094  3.746264e+08
0.10        Moedas  2022-10-13  7713256904  7.713257e+08
0.25        Moedas  2022-10-13  3406259986  8.515650e+08
0.50        Moedas  2022-10-13  3455096100  1.727548e+09
1.00        Cédulas 2022-10-13   148661969  1.486620e+08
            Moedas  2022-10-13  4007034357  4.007034e+09
2.00        Cédulas 2022-10-13  1522618910  3.045238e+09
5.00        Cédulas 2022-10-13   645569499  3.227847e+09
10.00       Cédulas 2022-10-13   581060918  5.810609e+09
20.00       Cédulas 2022-10-13   720784390  1.441569e+10
50.00       Cédulas 2022-10-13  1853381084  9.266905e+10
100.00      Cédulas 2022-10-13  1752472900  1.752473e+11
200.00      Cédulas 2022-10-13   111155985  2.223120e+10

In [52]:
data_cedula

            Data  Quantidade         Valor  Denominacao  Especie
5     2022-10-13   148661969  1.486620e+08          1.0  Cédulas
7     2022-10-13  1522618910  3.045238e+09          2.0  Cédulas
8     2022-10-13   645569499  3.227847e+09          5.0  Cédulas
9     2022-10-13   581060918  5.810609e+09         10.0  Cédulas
10    2022-10-13   720784390  1.441569e+10         20.0  Cédulas
...          ...         ...           ...          ...      ...
88269 1994-10-03   267853898  2.678539e+08          1.0  Cédulas
88271 1994-10-03   252922174  1.264611e+09          5.0  Cédulas
88272 1994-10-03   273630983  2.736310e+09         10.0  Cédulas
88273 1994-10-03    28945486  1.447274e+09         50.0  Cédulas
88274 1994-10-03     2841789  2.841789e+08        100.0  Cédulas

[46053 rows x 5 columns]